.header {
  background-color: aquamarine;
  width: 100%;
  min-height: 5vh;
}

.header img {
max-width: 80px;
height: 50px;
}

.loginBlock {
  float: right;
  padding-right: 5px;
  }

.loginBlock a {
  color: black;
}
