.nav {
  width: 10vw;
  background-color: blueviolet;
  padding: 10px;
}
.item {
  color: white;
  text-decoration: none;
}

.activeLink {
  color: gold;
  text-decoration: none;
}
.friends {
  margin-top: 100px;
    
}
