ul li {
  list-style-type: georgian;
  
}
.app-wrapper {
  display: flex;
  flex-wrap: wrap;
  min-height: 100vh;
  align-content: flex-start;
  
}
.app-wrapper-content {
    flex-grow: 1;
    background-color: rgb(247, 242, 235);
    min-height: 93vh;
    display: flex;
    
             
}


